.zap-recall {
    background-color: #FB6B6B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.zap-recall>:nth-child(1) img {
    width: 52px;
    height: 60px;
    margin-left: 0px;
}

.zap-recall img {
    margin-left: 250px;
}

.zap-recall>:nth-child(1) {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.zap-recall>:nth-child(1)>div {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: white;
    margin-left: 25px;
}

.pergunta {
    width: 300px;
    height: 65px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25px;

}

.visible {
    margin-top: 22px;
}

.pergunta-aberta {
    width: 299px;
    height: auto;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    background: #FFFFD4;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25px;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

ion-icon {
    color: black;
    font-size: 26px;
}

.zap-recall>:nth-last-child(2) {
    margin-bottom: 220px;
}

.zap-recall>:last-child {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.titulo-resultado {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
}

.titulo-resultado img {
    margin-left: 0px;
    margin-bottom: 8px;
}

.msg-resultado {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
}

.placar {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 8px;
}

.answer {
    width: 100%;
}

.hidden {
    display: none;
}

.nao-lembrou {
    width: 85px;
    height: 37px;
    background: #FF3030;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.quase-lembrou {
    width: 85px;
    height: 37px;
    background: #FF922E;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.lembrou {
    width: 85px;
    height: 37px;
    background: #2FBE34;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.alinhar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.errou {
    text-decoration: line-through;
    color: #FF3030;
}

.quase {
    text-decoration: line-through;
    color: #FF922E;
}

.acertou {
    text-decoration: line-through;
    color: #2FBE34;
}

.ion-icons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.reiniciar-recall {
    width: 167px;
    height: 32px;
    background: #FB6B6B;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}